/*
* {
  border: solid red 1px !important;
  }
*/
body {
  margin: 0 auto;
  /* background-color: #0096cc; */
  background: linear-gradient(90deg, #0096cc, #cbd400);
  font-family: "railway", sans-serif;
}

.zone {
  cursor: pointer;
  color: #fff;
  font-size: 2em;
  border-radius: 4px;
  border: 1px solid #bbb;
  transition: all 0.3s linear;
}

/* navigation */
  .main-nav {
    display: flex;
    list-style: none;
    font-size: 0.7em;
    margin-left: 0;
    align-items: center;
  }

img {
  width: 10em;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}  

@media only screen and (max-width: 800px) {
  .main-nav {
    font-size: 0.7em;
    padding: 0;
  }
  h1 {
    font-size: 0.75em;
  }
  img {
    width: 7.5em;
  }
}
@media only screen and (max-width: 700px) {
  .main-nav {
    font-size: 0.5em;
    padding: 0;
  }
  h1 {
    font-size: 0.75em;
  }
  img {
    width: 5em;
  }
}

h1 {
  color: darkgrey;
}

/* cover */
.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5vh;
  color: #000;
}

.description {
  font-size: 0.7em;
  font-style: italic;
}
.grid {
  color: gray;
}

li {
    padding: 0.5em;  
    align-items: center;
}

a:hover {
  background-color: #cbd400;
}

  a {
    color: #fff;
    text-decoration: none;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }

  footer {
    text-align: center;
  }